In [45]:
# データインポートライブラリ
import requests
import zipfile
import io

# データ加工・処理・分析ライブラリ
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series, DataFrame
import pandas as pd

# 可視化ライブラリ
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from pandas_profiling import ProfileReport
%matplotlib inline

%precision 3

'%.3f'

In [46]:
#pathからcsvファイルを読み込む場合
df = pd.read_csv("./data/train.csv")
df_test = pd.read_csv("./data/test.csv")

In [47]:
print("Shape of Raw Data\n[row :{},column :{}]".format(
    df.shape[0], df.shape[1]))
df.head()

Shape of Raw Data
[row :891,column :12]

,PassengerId,Perished,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,1,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
#最初に説明変数を絞り込んで欠損値削除を行う場合
pickup_columns = ['Perished','Pclass', 'Sex', 'Age','Parch']
df = df[pickup_columns]
df_test= df_test[pickup_columns[1:]]
df['Age'].fillna(df['Age'].mean(),inplace=True)
df_test['Age'].fillna(df['Age'].mean(),inplace=True)

In [49]:
 df.isnull().sum()
# df_test.isnull().sum()

Perished    0
Pclass      0
Sex         0
Age         0
Parch       0
dtype: int64

In [50]:
#Dtypeの確認(objectの場合One-hot-endocingなどの処理が必要)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Perished  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   Parch     891 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 34.9+ KB

   Perished  Pclass     Sex   Age  Parch
0         1       3    male  22.0      0
1         0       1  female  38.0      0
2         0       3  female  26.0      0
3         0       1  female  35.0      0
4         1       3    male  35.0      0

In [51]:
#型の変換
df.replace({'Sex':{'male':0,'female':1}},inplace=True)
df_test.replace({'Sex': {'male': 0, 'female': 1}}, inplace=True)

In [52]:
df_test.shape

(418, 4)

In [44]:
#save csv
import sys
import os
PATH_dir = "./df"
df.to_csv(os.path.join(PATH_dir, "EDA_01_train.csv"),index_label=False)
df_test.to_csv(os.path.join(PATH_dir,"EDA_01_test.csv"),index_label=False)