In [1]:
import sys
import os
import pandas as pd
import numpy as np
from time import time

#GBDTModel
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, RepeatedStratifiedKFold

%precision 3


SEED = 42

In [14]:
df_train = pd.read_csv("./df/EDA_09_MLP_train.csv")
df_test = pd.read_csv("./df/EDA_09_MLP_test.csv")
Target = 'Perished'
data_cleaner = [df_train, df_test]
df_train.columns

Index(['PassengerId', 'Perished', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'FamilySize', 'IsAlone', 'Title',
       'FareBin', 'Sex_Code', 'Embarked_Code', 'Title_Code', 'FareBin_Code',
       'AgeBin', 'Age_Code', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [17]:
for dataset in data_cleaner:
    dataset = dataset.drop(columns=["Name", "Sex", "Age", "IsAlone", "Ticket", 
                           "FareBin_Code", "Cabin",  "Title", "FareBin", "AgeBin"], inplace=True)

In [13]:
df_train.head()

,PassengerId,Perished,Pclass,SibSp,Parch,Fare,FamilySize,Sex_Code,Embarked_Code,Title_Code,Age_Code,Embarked_C,Embarked_Q,Embarked_S
0,1,1,3,1,0,7.2500,2,1,2,11,0,0,0,1
1,2,0,1,1,0,71.2833,2,0,0,12,2,1,0,0
2,3,0,3,0,0,7.9250,1,0,2,8,1,0,0,1
3,4,0,1,1,0,53.1000,2,0,2,12,2,0,0,1
4,5,1,3,0,0,8.0500,1,1,2,11,2,0,0,1

In [18]:
USE_Columns = df_train.columns
X = df_train.iloc[:, 2:].values
y = df_train.iloc[:, 1].values
X_test = df_test.iloc[:, 1:]

In [19]:
accuracy = {}
speed = {}

In [21]:
model = RandomForestClassifier()
name = "RndomForestClassifierr"
start = time()
cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=5, random_state=SEED)
score = cross_val_score(model, X, y, scoring="accuracy", cv=cv, n_jobs=-1)
speed[name] = np.round(time()-start, 3)
accuracy[name] = np.mean(score).round(3)
print("Model:{}\n".format(name))
print(
    f"Mean Accuracy: {accuracy[name]}\nStd: {np.std(score):.3f}\nRun time: {speed[name]}s"
)

Model:RndomForestClassifierr

Mean Accuracy: 0.793
Std: 0.027
Run time: 1.296s

In [25]:
rfc = RandomForestClassifier(max_depth=10,min_samples_leaf=1,n_estimators=100,n_jobs=-1,random_state=SEED)
rfc.fit(X,y)
print('Train Score: {}'.format(round(rfc.score(X, y), 3)))
print(' Test Score: {}'.format(round(rfc.score(, y), 3)))

Train Score: 0.927
 Test Score: 0.927